/*sticky footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/*parallax height*/

.parallax-container {
    height: 400px;
}
footer.page-footer {
    margin-top: 0px;
}

/*.section.white{
  height: 250px;
}*/
