/*sticky footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/*parallax height*/

.parallax-container {
    height: 400px;
}
footer.page-footer {
    margin-top: 0px;
}

.clearfix{
  height: 70px;
  width: 130px;
  background-color: #2ecc71;
}

.clearfix img{
  height: 30px;
  width: 50px;
}
/*.section.white{
  height: 250px;
}*/
