/*sticky footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/*parallax height*/

.parallax-container.p1 {
    height: 720px;
}
footer.page-footer {
    margin-top: 0px;
}

.clearfix{
  height: 70px;
  width: 130px;
  background-color: #2ecc71;
}

.clearfix img{
  height: 30px;
  width: 50px;
}
.overwrite:focus{
  border-bottom: 1px solid #000000 !important;
}

/* Home */
#hero-title {
  line-height: 1.5em;
  margin-top: 10%; }

#hero-title-one {
  margin: 0px 0px 20px 0px;
  line-height: 1.5em; }

#hero-title-two {
  margin: 0px;
  line-height: 0.5em; }

.hero-btn {
  margin: 10px; }

#hero {
  background-position: center center;
  background-size: cover;
  background-image: url("/static/images/white-desktop.jpg"); }

#hero-text-container .hero-btn {
    min-width: 190px; }

h2 {
  font-size: 2.92rem; }
