<div class="container">
    <div class="row">
        <div class="col s2">&nbsp;</div>
        <div class="col s8">
            <p class="flow-text center-align">
                This page for Reindeers to Manage their deliveries.
            </p>
        </div>
        <div class="col s2">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col s2">&nbsp;</div>
        <div class="col s8">
            <ul class="collapsible popout" data-collapsible="accordion">
              <% @deliveries.each do |delivery| %>
                <li>
                    <div class="collapsible-header">
                      <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <%=delivery.reindeer %></div> 
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <%end%>
            </ul>
        </div>
        <div class="col s2">&nbsp;</div>
    </div>
</div>
