<form method="post" action="/reindeer">
  <div>
    <label> Name: </label>
    <input type="text" name="name" />
  </div>

  <div>
    <label> Email: </label>
    <input type="text" name="email"  />
  </div>

  <div>
    <label> Mobile: </label>
    <input type="text" name="mobile"/>
  </div>

  <div>
    <input type="submit" value="Submit!" />
  </div>
</form>

<% @reindeers.each do |reindeer| %>
  <ul>
    <li> <strong> Name: </strong> <%= reindeer.name %> ----- <strong>
      Email: </strong><%= reindeer.email %> -----
      <strong> Mobile: </strong><%= reindeer.mobile %> </li>
  </ul>
<% end %>
<br>
