<div class="parallax-container">
    <div class="parallax"><img src="images/christmas-xmas-gifts-presents.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="row">
            <div class="col s4 ">
                <div class="row">
                    <div class="col s12">
                        <i class="material-icons center-align">person outline</i>
                        <p class="flow-text">
                            Elves help gather gifts for Children in need and signup Reindeer to help deliver them.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <i class="material-icons">add</i>
                <p class="flow-text">
                    Reindeer deliver gifts to all the Children who need them during the holiday season.</p>
            </div>
            <div class="col s4">
                <i class="material-icons">add</i>
                <p class="flow-text">
                    Children recieve gifts donated by kind souls, organized by dilligent Elves and delivery by tireless Reindeer.</p>
            </div>

        </div>

    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/pexels-photo-38941.jpeg"></div>
</div>
