<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rudolph 2.0</title>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--
          normalize.css removes cross-browser differences in defaults, e.g.,
          differences in how form elements appear between Firefox and IE
          See: http://necolas.github.com/normalize.css/
        -->
        <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection"/>

        <!-- application.css is where you put your styles -->
        <link rel="stylesheet" href="/stylesheets/application.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <nav>
                <div class="red nav-wrapper z-depth-2">
                    <a href="/" class="brand-logo">Rudolph 2.0</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="/reindeer">Reindeer</a>
                        </li>
                        <li>
                            <a href="/child">Children</a>
                        </li>
                        <li>
                            <a href="/gifts">Gifts</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <main>
            <%= yield %>
        </main>

        <footer class="red page-footer">
          <div class="footer-copyright">
                <div class="container">
                    © 2016 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="/">Git</a>
                </div>
            </div>
        </footer>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/javascript/materialize.min.js"></script>
        <!-- application.js is where you put your javascript -->
        <script src="/javascript/application.js"></script>
    </body>

</html>
